/*Confession Copy Button*/
.copy-button {
    padding: 2px 5px;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    gap: .5rem;
    position: relative;
}

.copy-button img {
    width: 20px;
    opacity: 0.3;
}

.copy-button img:hover {
    opacity: 0.4;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -120%;
    left: 180%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    backdrop-filter: blur(15px);
}

/*down pointing arrow*/
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -39%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.03) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/*Prayers Copy Button*/
.prayer-copy-button-1, .prayer-copy-button-2, .prayer-copy-button-3, .prayer-copy-button-4 {
    padding: 2px 5px;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    gap: .5rem;
    position: relative;
}

.prayer-copy-button-1 {
    transform: translateX(190px) translateY(-47px);
}

.prayer-button-image {
    width: 20px;
    opacity: 0.3;
}

.prayer-button-image:hover {
    opacity: 0.4;
}

.tooltip-2 {
    position: relative;
    display: flex;
}

.tooltiptext-2 {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transform: translateX(155px) translateY(-42px);
    opacity: 0;
    line-height: 1rem;
    transition: opacity 0.3s;
}

.tooltiptext-2::after {
    content: "";
    position: absolute;
    transform: translateX(-43px) translateY(-15px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.03) transparent;
}

.tooltip-2:hover .tooltiptext-2 {
    visibility: visible;
    opacity: 1;
}

/*********************/

.prayer-copy-button-2 {
    transform: translateX(190px) translateY(-47px);
}

.tooltip-3 {
    position: relative;
    display: flex;
}

.tooltiptext-3 {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transform: translateX(155px) translateY(-42px);
    opacity: 0;
    line-height: 1rem;
    transition: opacity 0.3s;
}

.tooltiptext-3::after {
    content: "";
    position: absolute;
    transform: translateX(-43px) translateY(-15px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.03) transparent;
}

.tooltip-3:hover .tooltiptext-3 {
    visibility: visible;
    opacity: 1;
}


/*********************/

.prayer-copy-button-3 {
    transform: translateX(190px) translateY(-47px);
}

.tooltip-4 {
    position: relative;
    display: flex;
}

.tooltiptext-4 {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transform: translateX(155px) translateY(-42px);
    opacity: 0;
    line-height: 1rem;
    transition: opacity 0.3s;
}

.tooltiptext-4::after {
    content: "";
    position: absolute;
    transform: translateX(-43px) translateY(-15px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.03) transparent;
}

.tooltip-4:hover .tooltiptext-4 {
    visibility: visible;
    opacity: 1;
}


/*********************/

.prayer-copy-button-4 {
    transform: translateX(190px) translateY(-47px);
}


.tooltip-5 {
    position: relative;
    display: flex;
}

.tooltiptext-5 {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transform: translateX(155px) translateY(-42px);
    opacity: 0;
    line-height: 1rem;
    transition: opacity 0.3s;
}

.tooltiptext-5::after {
    content: "";
    position: absolute;
    transform: translateX(-43px) translateY(-15px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.03) transparent;
}

.tooltip-5:hover .tooltiptext-5 {
    visibility: visible;
    opacity: 1;
}