@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background-color: #161d20;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #111618;
}

*::-webkit-scrollbar-thumb {
    background-color: #192125;
    border-radius: 20px;
    border: 0px;
}

.background-image {
    animation: rotation 1500s infinite linear;
    z-index: -1;
    position: fixed;
    top: -200px;
    left: -400px;
    width: 150%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/*Desktop Navbar*/
.navbar {
    padding: 20px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    font-size: 1.3rem;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / .5);
    backdrop-filter: blur(15px);
    z-index: 100;
    position: fixed;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.08);
}

.logo img {
    width: 70px;
    height: revert;
}

.logo h2 {
    font-weight: 500;
}

.logo-line {
    width: 100%;
    height: .1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo h6 {
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}

.vertical-line {
    font-weight: 100;
    font-size: 1rem;
    margin-top: -3px;
}

.nav-left a {
    color: #dadcdd;
    text-decoration: none;
    font-size: 1.6rem;
}


.nav-right a {
    color: #dadcdd;
    text-decoration: none;
    margin: 10px;
}

/*Mobile Navbar*/
.mobile-nav {
    padding-left: 15px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    color: #dadcdd;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / .5);
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 100;
    visibility: hidden;
}

.mobile-line {
    width: 100%;
    height: .1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
}

.mobile-left a {
    color: #dadcdd;
    text-align: left;
    text-decoration: none;
    padding: 10px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

.mobile-right {
    margin-top: 0px;
}

.mobile-right a {
    color: #dadcdd;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    position: relative;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

.icon {
    color: #dadcdd;
    text-decoration: none;
    font-size: 17px;
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 10px;
    padding: 10px 10px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

#mobile-links {
    display: none;
}


.mobile-right a:hover {
    color: #dadcdd;
}

.mobile-name {
    font-size: 1.3rem;
    color: #dadcdd;
}


/*Examination of Conscience*/
.eoc-container {
    z-index: 1;
    padding-top: 150px;
    color: #dadcdd;
}

.accordion {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    color: #dadcdd;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / .5);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.08);
    font-size: 1.3rem;
}

.panel {
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(15px);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    color: #dadcdd;
}

.panel-text p {
    line-height: 1.8rem;
    padding: 20px;
}

.panel-text label {
    padding: 20px 20px 20px 25px;
    margin-left: 8px;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/*Time since last confession*/
.time-since-container {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    padding: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / .5);
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.body-container-line {
    width: 100%;
    height: .1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 5px;
    margin-bottom: 10px;
}

#customTime {
    padding: 5px 10px;
    min-height: 30px;
    max-height: 30px;
    min-width: 400px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    color: #dadcdd;
    border-color: rgba(255, 255, 255, 0.05);
    font-size: 1.1rem;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.2);
}

input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 5px rgb(78, 117, 127);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    outline: 1px solid rgba(255, 255, 255, 0.05);
    /* border: 1px solid rgb(255, 0, 0); */
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 0%;
    margin-right: 10px;
    transform: translateY(1px);
}


input[type="radio"]:checked {
    background-image: url("./assets/checkmark.png");
    background-size: contain;
}

input[type="radio"]:focus {
    box-shadow: 0 0 5px rgb(78, 117, 127);
}

/*Ten Commandments*/
.commandment-1,
.prayer-1 {
    border-radius: 10px 10px 0px 0px;
}

#commandment-10-title,
#last-prayer-title {
    border-radius: 0px 0px 10px 10px;
}

.last-panel {
    border-radius: 0px 0px 10px 10px;
}


/*Confessions List*/
.confession-list-bg {
    background-image: url("./assets/bg8-blur.jpg");
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
}

.title-and-copy {
    margin-bottom: 10px;
}

#confession-list-container h1 {
    color: #dadcdd;
}

.confessions-line {
    width: 100%;
    height: .1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
}

#confession-list-container {
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / .5);
}

#confession-list {
    line-height: 2rem;
}

.confession-list p {
    color: #dadcdd;
}

#before-list {
    color: #dadcdd;
    margin-bottom: 20px;
}

.copy-button {
    padding: 2px 5px;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    gap: .5rem;
    position: relative;
}


.copy-button img {
    width: 20px;
    opacity: 0.3;
}

.copy-button img:hover {
    opacity: 0.4;
}

/*Tooltip on Copy Button*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -120%;
    left: 180%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    backdrop-filter: blur(15px);
}

/*down pointing arrow*/
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -39%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.03) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/*Prayers*/
.prayers {
    padding-top: 50px;
    padding-bottom: 100px;
}


/*Checklist Items*/
.container {
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(218, 220, 221);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.02);
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 22px;
    left: -5px;
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.08);
}

.container:hover input~.checkmark {
    background-color: rgba(255, 255, 255, 0.13);
    color: #ffffff;
}


.container input:checked~.checkmark {
    background-color: rgba(255, 255, 255, 0.08);
}

.container input:checked~.check-text {
    color: rgba(255, 255, 255, 0.2);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5.5px;
    top: 2.5px;
    width: 2.5px;
    height: 5px;
    border: solid rgba(255, 255, 255, 0.15);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*Footer*/
.footer-body {
    background: linear-gradient(0deg, rgb(0, 0, 0, .2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(15px);
    color: #dadcdd;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / .5);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.08);
}