/*universal classes*/
.m-auto {
    margin: auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-center {
    text-align: left;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

.gap-6 {
    gap: 6rem;
}

.gap-7 {
    gap: 7rem;
}

/*Phone Screen*/
@media only screen and (min-width: 240px) and (max-width: 767px) {

    .navbar {
        visibility: hidden;
    }

    .mobile-nav {
        visibility: visible;
    }

    .flex-small {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .background-image {
        animation: rotation 800s infinite linear;
        top: -100px;
        left: -200px;
        width: 300vw;
        height: 150vh;
    }

    .confession-list-bg {
        background-size: 400%;
        background-position: center;
    }

    #confession-list-container h1 {
        font-size: 1.5rem;
        text-align: left;
    }

    .tooltip .tooltiptext {
        bottom: -90%;
    }
    
    .logo img {
        width: 50px;
        height: revert;
    }
    
    .logo h2 {
        font-size: 1.7rem;
    }
    
    .logo h6 {
        font-size: .8rem;
    }
    
    .vertical-line {
        font-size: .5rem;
    }

    .eoc-container {
        padding-top: 110px;
    }

    .logo {
        padding-left: 7px;
    }
    
    #customTime {
        min-width: 200px;
        max-width: 200px;
        text-overflow: ellipsis;
    }

}

/*tablet*/
@media only screen and (min-width: 767px) and (max-width: 912px) {
    .navbar {
        visibility: hidden;
    }

    .mobile-nav {
        visibility: visible;
    }

    .flex-med {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flex-small-on-med {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-md-1 {
        flex: 1 0 0%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .background-image {
        animation: rotation 1000s infinite linear;
        z-index: -1;
        position: fixed;
        top: -200px;
        left: -400px;
        width: 200%;
    }

    .confession-list-bg {
        background-size: 250%;
        background-position: center;
    }

    .icon {
        top: 30px;
    }

    .logo {
        padding-left: 7px;
    }
    
    .logo h2 {
        font-size: 2rem;
    }
    
    .logo h6 {
        font-size: .9rem;
    }

    .eoc-container {
        padding-top: 110px;
    }

    .eoc-container {
        padding-top: 130px;
    }
}

/*desktop*/
@media only screen and (min-width: 912px) {
    .col-lg-1 {
        flex: 1 0 0%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .active,
    .accordion:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }

    .logo:hover {
        opacity: .8;
    }

    .nav-right a:hover {
        color: rgba(255, 255, 255, 0.6);
    }

    .container:hover {
        color: rgba(255, 255, 255, 0.6);
    }

}